*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    width: 1140px;
    height: 500px;
    margin: 0 auto;
}


.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}



h1 {
    background-color: blue;
    
} 
@media screen and (max-width: 576px;){
    .main-container{
        max-width: 400px;}
    
}
    

